pipeline/File_format_pipeline_copy1.json
{
	"name": "File_format_pipeline_copy1",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "get_source",
						"type": "DatasetReference",
						"parameters": {
							"ds_filesystem": {
								"value": "@pipeline().parameters.Filesystem",
								"type": "Expression"
							},
							"ds_filedirectory": {
								"value": "@pipeline().parameters.Filedirectory",
								"type": "Expression"
							},
							"ds_filename": {
								"value": "@pipeline().parameters.Filesystem",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems",
						"itemName",
						"itemType"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Switch1",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@activity('Get Metadata1').output.itemName",
						"type": "Expression"
					},
					"cases": []
				}
			}
		],
		"parameters": {
			"Filesystem": {
				"type": "String"
			},
			"Filedirectory": {
				"type": "String"
			}
		},
		"folder": {
			"name": "pandian_test"
		},
		"annotations": []
	}
}